footer {
  background-color: var(--background-color);
  color: white;
  padding: 1rem 1rem 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer a {
  color: var(--accent2-color);
  text-decoration: none;
}

.social-icons {
  display: flex;
  gap: 1rem;
}

.social-icons img {
  width: 24px;
  height: 24px;
  filter: invert(1);
} 