html, body {
  overflow-x: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  max-width: 100%;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
}

.content {
  display: grid;
  margin: 1rem 0;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1rem;
}

.container {
  padding: 20px;
  background: #fafafa;
  text-align: left;
  border-radius: 5px;
  box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.3);
}

.container h2 {
  text-align: left;
}

main {
  flex: 1;
  margin-bottom: 45px;
}

footer {
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 50%;
  text-align: center;
  color: #eef1f3;
  transform: translateX(-50%);
  width: 100%;
  background-color: #627c89;
}

@media (max-width: 800px) {
  .content {
    grid-template-columns: 1fr;
  }
}